<footer class="section">
  <div class="footer__top">content © {{ "now" | date: "%Y" }}  daniel a. gallegos ● <a href="http://gitlab.com/takouhai/takouhai.gitlab.io" target="_blank">source</a> ● <a href="https://daniel.ga/llegos" target="_blank">made by taco 🌮</a></div>
  <div class="footer__bottom"><a rel="me" href="https://tilde.zone/@taco"><ion-icon name="logo-mastodon"></ion-icon></a> <a href="https://gitlab.com/takouhai"><ion-icon name="logo-gitlab"></ion-icon></a> <a href="https://github.com/takouhai"><ion-icon name="logo-github"></ion-icon></a> <a href="https://www.linkedin.com/in/daniel-gallegos/"><ion-icon name="logo-linkedin"></ion-icon></a>
  <div class="footer__star">
    <a href="#">💫</a>  
  </div>
</footer>
