---
layout: compress
---
  
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% include favicon.html %}
    {% include metatags.html %}
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="author" href="/humans.txt" />
    <script async src="https://umami.birdcat.cafe/script.js" data-website-id="8031d60c-b971-4be0-bc9a-59cad46f0777"></script>
  </head>
  <body>
    {% include header.html %}
    <main class="section">
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  </body>
</html>
